include base

- page.title = "Les Métamorphoses de Mr. Kalia"
- page.styles = ['main']
- page.libs = ['analytics.min', 'jquery.min', 'detectmobilebrowser', 'Matrix', 'jwt-token']

+template()
  iframe( id="frame", src="main.html" )
  #ui.inactive
    #info
      h1#title
      h2#date
    #sound
    #help
    #timeline
    .arrow.left
    .arrow.right
  #about.inactive
    h1 An interactive poetic adventure
    p
      | Les métamorphoses de Mr. Kalia is an interactive poetic adventure and a study of the concept of metamorphosis. 
      | This project won the DevArt contest initiated by Google and the Barbican. It will be exhibited in the 
      a(href="https://www.barbican.org.uk/artgallery/event-detail.asp?ID=15608") Digital Revolution 
      | exhibition from 3rd of July to 14th of September 2014 at the Barbican Centre in London.
    h1 The authors
    p
      a(href="http://kikko.fr/home", target="_blank") Cyril Diagne 
      | &amp; 
      a(href="http://epure.it/", target="_blank") Béatrice Lartigue 
    h1 Partners
    p
      | Music by 
      a(href="http://www.stylobrique.org/chapelierfou/index.html", target="_blank") Chapelier Fou 
      | - 
      a(href="http://www.icidailleurs.com/chapelier-fou", target="_blank") Ici, d’ailleurs... <br />
      | Sound design by 
      a(href="http://www.ogmusik.com/", target="_blank") Olivier Girardot - OG Musik <br />
      | Commissioned by Google and the Barbican Centre <br />
    h1 Many thanks to
    p
      | Google &amp; DevArt - Steve Vranakis, Paul Kinlan, Emma Turpin, David Bruno, Olaya De Marcos, Tom Seymour <br />
      | The Barbican — Conrad Bodman, Dani Admiss, Sunny Cheung <br />
      | AB Rogers Design <br />
      | Fifty Nine Productions <br />
      | Studio ZNA <br />
      | ADi Audiovisual <br />
      | Louis Warinsky, Eric Bichon, Stéphane Grégoire <br />
      | Olivier Girardot <br />
      | Lab212 Collective <br />