- var page = {}
- var rootDir = './'
- page.path = ""
- page.styles = []
- page.libs = []
- page.scripts = []
- page.title = ""
- page.keywords = ""
- page.description = ""

mixin template(bodyClass)
  doctype html
  html(lang='en')
    head
      meta(charset="UTF-8")
      title #{page.title}
      meta(name="description", content=page.description)
      meta(name="keywords", content=page.keywords)
      +styles()

    body
      block
      +libs()
      if(build)
        script(src= rootDir + 'js/'+build+'.min.js')
      else 
        +scripts()

mixin styles()
  - for (var i = 0; i < page.styles.length; i++)
    link(rel="stylesheet", href= rootDir + 'css/' + page.styles[i] + '.css')

mixin libs()
  - for (var i = 0; i < page.libs.length; i++)
    script(src= rootDir + 'vendor/js/' + page.libs[i]+'.js')

mixin scripts()
  - for (var i = 0; i < includes.length; i++)
    script(src= rootDir + 'js/' + includes[i]+'.js')