include base

- page.title = "Les métamorphoses de Mr. Kalia"
- page.styles = ['main']
- page.libs = ['paper-core.min','socket.io', 'tween.min', 'howler.min', 'seedrandom.min', 'matter.min']

+template()
  canvas#paperjs-canvas.off
  #curtain.down.off
    .halo