Tsar = 'tstar_twregular'

bulbsColor   = #50757d
tiroirsColor = #5f2633
birdsColor   = #79795f
tribalColor  = #ccccbe
lockersColor = #832945
thornsColor  = #3a5b60
stripesColor = #897173
booksColor   = #898976
techColor    = #2a2a2d

curtainColor = tiroirsColor

@font-face 
  font-family Tsar
  src url('../assets/fonts/tstar_tw-regular-webfont.eot')
  src url('../assets/fonts/tstar_tw-regular-webfont.ttf') format('truetype'),
      url('../assets/fonts/tstar_tw-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/tstar_tw-regular-webfont.woff') format('woff'),
      url('../assets/fonts/tstar_tw-regular-webfont.svg#tstar_twregular') format('svg')
  font-weight normal
  font-style normal

html, body, iframe
  margin    0
  padding   0
  width     100%
  height    100%
  overflow  hidden
  position  absolute
  border    none
  left      0
  top       0
  font-family Tsar
  color white
  // background-color white

iframe
  background-color curtainColor
  -webkit-transform-origin 0 0 0   
  transition opacity 1s ease
  // pointer-events : none

body
  background-color black
  -webkit-perspective 1000px
  &.live
    #ui
      display none

#paperjs-canvas
  width 100%
  height 100%
  background-color black//#1b253d
  display none
  transition opacity 0.5s ease-out
  position absolute
  &.off
    opacity 0
  &.on
    opacity 1
  .nofocus &
    opacity 0.5

#curtain
  width 100%
  height 0
  position absolute
  z-index 999
  background curtainColor //url('../assets/ui/curtain_texture.png')
  // border-bottom 10px solid rgba(255,255,255,0.1)
  transition height 1.5s cubic-bezier(0.875, 0.155, 0.535, 0.985), opacity 2s, background-color 1s
  &.down
    height 100%
  &.off
    opacity 0

#curtain, #timeline > div
  &.bulbs
    background-color bulbsColor
  &.tiroirs
    background-color tiroirsColor
  &.birds
    background-color birdsColor
  &.tribal
    background-color tribalColor
  &.lockers
    background-color lockersColor
  &.thorns
    background-color thornsColor
  &.stripes
    background-color stripesColor
  &.books
    background-color booksColor
  &.tech
    background-color techColor

margin = 5%

#ui
  
  &.inactive > *
    pointer-events : none

  #info
    position absolute
    left margin
    top margin
    z-index 998
    text-transform uppercase
    h1
      margin 0px
      color #a6a67a
      font-size 18px
    h2
      color #dbdbdb
      margin-top 8px
      font-size 15px
        
    @media screen and (max-width: 640px)
      width 300px
      h1
        font-size 13px
      h2
        font-size 10px
        margin-top 4px

  #timeline
    display block
    height 60px
    position absolute
    bottom 0px
    list-style-type none
    margin 0
    padding-top 20px
    padding 0
    white-space nowrap
    transition bottom 0.5s ease-out
    transition-delay 0.6s
    > div
      display inline-block
      position relative
      width 20px
      height 40px
      top 40px
      cursor pointer
      transition top 0.3s ease-out, background-color 0.3s ease-out
      &:hover
        opacity 0.5
        top 30px
      &.on
        top 20px
        background-color white

  &.inactive #timeline
    bottom -60px

  .arrow
    width 30px
    height 59px
    position absolute
    top 50%
    margin-top -30px
    cursor pointer
    transition left 0.5s ease-out, right 0.5s ease-out
    transition-delay 0.4s, 0.5s
    &.left
      background url('../assets/ui/arrow_left.png')
      left margin
    &.right
      background url('../assets/ui/arrow_right.png')
      right margin
    &:hover
      opacity 0.5
    @media screen and (max-width: 640px)
      -webkit-transform scale(0.5,0.5)

  &.inactive .arrow
    &.left
      left -30px
    &.right
      right -30px


  #sound
    width 26px
    height 23px
    position absolute
    right margin
    top margin
    transition top 0.5s ease-out
    background url('../assets/ui/sound.png')
    cursor pointer
    &.off
      width 15px 
    @media screen and (max-width: 640px)
      display none

  &.inactive #sound
    top -23px


w = 80px
.quad
  position absolute
  width w
  height w
  margin-left -(w/2)
  margin-top -(w/2)
  left 0
  top 0
  border-radius (w/2)
  &:hover
    background-color rgba(0,0,255, 0.6)