Tsar = 'tstar_twregular'
curtainColor = #50757d

@font-face 
  font-family Tsar
  src url('../assets/fonts/tstar_tw-regular-webfont.eot')
  src url('../assets/fonts/tstar_tw-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/tstar_tw-regular-webfont.woff') format('woff'),
      url('../assets/fonts/tstar_tw-regular-webfont.ttf') format('truetype'),
      url('../assets/fonts/tstar_tw-regular-webfont.svg#tstar_twregular') format('svg')
  font-weight normal
  font-style normal

html, body, iframe
  margin    0
  padding   0
  width     100%
  height    100%
  overflow  hidden
  position  absolute
  border    none
  left      0
  top       0
  font-family Tsar
  color white
  // background-color white

iframe
  background-color curtainColor
  -webkit-transform-origin 0 0 0
  transition opacity 1s ease

body
  background-color black
  -webkit-perspective 1000px
  #info
    position absolute
    left 50px
    top 50px
    z-index 998
    text-transform uppercase
    h1
      margin 0px
      color #a6a67a
      font-size 18px
    h2
      font-size 15px
      color #dbdbdb
      margin-top 8px
  &.live
    #info
      display none

#timeline
  display block
  height 60px
  position absolute
  bottom 0px
  list-style-type none
  margin 0
  padding-top 20px
  padding 0
  white-space nowrap
  > div
    display inline-block
    position relative
    width 20px
    height 40px
    top 40px
    cursor pointer
    &:hover
      opacity 0.5
      top 30px
    &.bulbs
      background-color #50757d
    &.tiroirs
      background-color #5f2633
    &.birds
      background-color #79795f
    &.tribal
      background-color #2a2a2d
    &.lockers
      background-color #897173
    &.thorns
      background-color #832945
    &.stripes
      background-color #3a5b60
    &.on
      top 20px
      background-color white

w = 80px
.quad
  position absolute
  width w
  height w
  margin-left -(w/2)
  margin-top -(w/2)
  left 0
  top 0
  border-radius (w/2)
  &:hover
    background-color rgba(0,0,255, 0.6)

#paperjs-canvas
  width 100%
  height 100%
  background-color black//#1b253d
  display none
  &.off
    opacity 0
  &.on
    opacity 1

#curtain
  width 100%
  height 0
  position absolute
  z-index 999
  background-color curtainColor
  transition height 1.5s cubic-bezier(0.875, 0.155, 0.535, 0.985), opacity 2s, background-color 1s
  &.down
    height 100%
  &.off
    opacity 0

p.instruction
  font-size   0.8em
  position    absolute
  z-index     2
  left        1em
  white-space pre