include base

- page.title = "4 - skinning"
- page.styles = ['main']
- page.libs = ['pixi']
- page.scripts = ['skeleton', 'perso', 'main']

+template()
  p.instruction press 's' or touch screen to toggle debug draw