include base

- page.title = "Les métamorphoses de Mr. Kalia"
- page.styles = ['main']
- page.libs = ['paper', 'socket.io']

- include('global')
- include('utils/js_utils')
- include('utils/geom_utils')

- include('skeleton/skeleton')
- include('skeleton/skeleton_sync')

- include('m11s/helpers')

- include('m11s/base/settings')
- include('m11s/base/joint')
- include('m11s/base/part')
- include('m11s/base/morph')
- include('m11s/base/bodyitems')
- include('m11s/base/perso')

- include('m11s/tiroirs/settings')
- include('m11s/tiroirs/items/drawer')
- include('m11s/tiroirs/items/hat')
- include('m11s/tiroirs/bodyitems')

- include('m11s/bulbs/settings')
- include('m11s/bulbs/bodyitems')

- include('m11s/peaks/settings')
- include('m11s/peaks/bodyitems')
- include('m11s/peaks/part')

- include('m11s/tribal/settings')
- include('m11s/tribal/bodyitems')
- include('m11s/tribal/items/feather')
- include('m11s/tribal/items/mask')
- include('m11s/tribal/part')

- include('m11s/stripes/perso')

- include('assets')
- include('scene')
- include('main')

+template()
  p.instruction press 's' or touch screen to toggle debug draw