include base

- page.title = "Les métamorphoses de Mr. Kalia"
- page.styles = ['main']
- page.libs = ['paper-core.min','socket.io', 'tween.min', 'howler.min', 'seedrandom.min', 'matter.min']

- include('global')

- include('utils/js_utils')
- include('utils/geom_utils')
- include('utils/osc_parser')
- include('utils/artnet_client')

- include('skeleton/skeleton')
- include('skeleton/skeleton_sync')

- include('helpers/helpers')
- include('helpers/flying')
- include('helpers/physics')

- include('m11s/base/settings')
- include('m11s/base/joint')
- include('m11s/base/part')
- include('m11s/base/morph')
- include('m11s/base/bodyitems')
- include('m11s/base/perso')

- include('m11s/tiroirs/settings')
- include('m11s/tiroirs/items/flying')
- include('m11s/tiroirs/items/drawer')
- include('m11s/tiroirs/items/hat')
- include('m11s/tiroirs/items/scarf')
- include('m11s/tiroirs/items/buttons')
- include('m11s/tiroirs/bodyitems')

- include('m11s/bulbs/settings')
- include('m11s/bulbs/items/bulb')
- include('m11s/bulbs/items/rope')
- include('m11s/bulbs/bodyitems')

- include('m11s/peaks/settings')
- include('m11s/peaks/bodyitems')
- include('m11s/peaks/part')

- include('m11s/tribal/settings')
- include('m11s/tribal/bodyitems')
- include('m11s/tribal/items/feather')
- include('m11s/tribal/items/mask')
- include('m11s/tribal/items/fire')
- include('m11s/tribal/part')

- include('m11s/stripes/items/stripes')
- include('m11s/stripes/perso')

- include('m11s/birds/settings')
- include('m11s/birds/items/branches')
- include('m11s/birds/items/bird')
- include('m11s/birds/items/house')
- include('m11s/birds/bodyitems')

- include('m11s/lockers/settings')
- include('m11s/lockers/items/lock')
- include('m11s/lockers/items/pile')
- include('m11s/lockers/bodyitems')

- include('playback/playback')
- include('playback/record')

- include('sound/music')
- include('sound/sounds')

- include('assets')
- include('scene')
- include('main')

+template()
  canvas#paperjs-canvas
  //- p.instruction 
    //- | press 'spacebar' or touch screen to set next metamorphose
    //- | press 's' to toggle debug draw