tracking/K4W-BodyOSC/build
tracking/K4W-BodyOSC/bin/*.ilk
tracking/K4W-BodyOSC/bin/*.pdb
*.suo
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.user

app/export
app/bin
app/temp
app/res/sounds/*
app/res/replays/*
!app/bin/js/vendor

tokenserver/node_modules/*
tokenserver/secret.coffee

server/public/*
server/secret.yaml