prod/tracking/K4W-BodyOSC/build
prod/tracking/K4W-BodyOSC/bin/*.ilk
prod/tracking/K4W-BodyOSC/bin/*.pdb
*.suo
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.user

prod/app/export
prod/app/bin/js/*
prod/app/bin/saved/*
prod/app/bin/replays/*
prod/app/res/sounds/*
prod/app/bin/css/*
prod/app/bin/*.html
!prod/app/bin/js/vendor