prod/tracking/K4W-BodyOSC/build
prod/tracking/K4W-BodyOSC/bin/*.ilk
prod/tracking/K4W-BodyOSC/bin/*.pdb
*.suo
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.user

prod/tokenserver/node_modules/*

prod/app/export
prod/app/bin
prod/app/temp
prod/app/res/sounds/*
prod/app/res/replays/*
!prod/app/bin/js/vendor

prod/tokenserver/secret.coffee